/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


/* Custom CSS Start */

.white-color {
    color: white !important;
    margin-top: 5px;
}

.green-color {
    color: lightgreen !important;
}

.text-color {
    color: black;
}

.bg-image-hight {
    margin-top: -120px !important;
    /*max-height: 800px !important;*/
    min-height: 800px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
}

.bg-color {
    background-color: lightgray !important;
}

.spc {
    white-space: pre;
}




.menu-right {
    float: right !important;
}
/* End */


/*Login page CSS*/
.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
/*Login Page CSS end*/

.table-header {
    color: white !important;
    font-size: large !important;
}

.table-border {
    border-color: black;
    border-width: medium;
    /*border-style:groove*/
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        right: 4px;
        bottom: 4px;
        top: 1px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    height: 22px;
    width: 54px;
}

.slider.round:before {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

.circle-div {
    background-color: #2196F3;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border-color: #2196F3;
    border-bottom-style:none;
    position: fixed;
    bottom: 21px;
    right: 25px;
}

/*Multi select dropdown style start*/
.border-style {
    border-style: solid;
    border-color: #c2afaf;
    border-radius: 4px;
}
/*Multi select dropdown style end*/

/*Happy customers logo style start*/
.imgPreview {
    width: 100%;
    height: auto;
}

.companyLogo {
    min-width: 50%;
    min-height: 50%;
    width:20%;
    height:20%
}

/*Happy customers logo style end*/



.floating-right-bottom {
    /* border-radius:100%;*/
    position: fixed;
    right: 10px;
    bottom: 16px;
}

/*floating icon sidepanel logo and form */
.pen body {
    padding-top: 50px;
}


/* MODAL FADE LEFT RIGHT BOTTOM */
.modal.fade:not(.in).left .modal-dialog {
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
}

.modal.fade:not(.in).right .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}

.modal.fade:not(.in).bottom .modal-dialog {
    -webkit-transform: translate3d(0, 25%, 0);
    transform: translate3d(0, 25%, 0);
}

.modal.right .modal-dialog {
    position: relative;
    /*top: 50%;
    right: 20%;*/
    margin-right:100px;

}

/*.modal.left .modal-dialog {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}*/

.modal-dialog .modal-sm {
    max-width: 800px !important;
}

.modal-content {
    min-height: 60vh;
    border: 0;
    
}

.popup-position {
    margin-right: 100px !important;
    margin-top: 50px !important;
    margin-bottom: 20px !important;
    height: 500px !important;
}
.sbmt{
    left: 50px;
}