@{
    ViewData["Title"] = "Careers";
}

<img src="~/images/career.jpg" alt="backimage" class="img-fluid">

    <div class="row align-items-lg-center">

         <div class="col-lg-6 order-lg-1 text-center mx-auto">           
            
                 <a asp-controller="Home" asp-action="Careers" style="display: block; cursor: pointer; margin-top:15px;" class="btn btn-primary py-3 px-4 mr-3">CLICK HERE For Current Opening positions</a>
        
         </div>
      
    </div>  


