@{
    ViewData["Title"] = "Home";
}

<div class="js-animsition animsition" id="site-wrap" style=" background-color:whitesmoke;" data-animsition-in-class="fade-in" data-animsition-out-class="fade-out">


    <div style="margin-top:6%" ;>
        <div class="col-lg-13">
            <h2 class="mb-15"></h2>
            <div class="owl-carousel  wide-slider-testimonial">
                <img src="~/images/hmm.jpg" alt="backimage" class="img-fluid">
                <img src="~/images/hmcol.png" alt="backimage" class="img-fluid">
                <img src="~/images/hmm.jpg" alt="backimage" class="img-fluid">
                <img src="~/images/hmcol.png" alt="backimage" class="img-fluid">
            </div>
        </div>
    </div>

    <br>
    @*changes in progress*@

    <div class="templateux-section pt-1 pb-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">

                    <div class="row">
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                            <div class="media block-icon-1 d-block text-left">
                                <div class="icon mb-3">
                                    <img src="~/images/flaticon/svg/001-consultation.svg" alt="Image" class="img-fluid">
                                </div>
                                <div class="media-body">
                                    <h3 class="h9 mb-6">Who We are ?</h3>
                                    <p>Prosperspective HR Solutions is a boutique staffing company specialized in offering and delivering custom recruitment solutions. We Offer practical and consultative solution in Leadership hiring, head hunting & Executive search.We design and deliver custom recruitment solutions, unique to your organization and match the right talent to the right opportunities across levels.We help you find the best people, build successful teams, and generate value for your company through excellence and also ensure the selection of the right talent to improve results and reduce cost. As we have deeply studied this market and have built a vast network in the Industry we are confident in adding value in terms of hiring exceptional talent who are in tune with your market and culture for your company.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                            <div class="media block-icon-1 d-block text-left">
                                <div class="icon mb-3">
                                    <img src="~/images/flaticon/svg/003-turnover.svg" alt="Image" class="img-fluid">
                                </div>
                                <div class="media-body">
                                    <h3 class="h9 mb-6">Our Commitment</h3>
                                    <p>We are Group of hardworking, experience, dynamic and dedicated professional working to provide quality and superior business solutions. We robustly support & mediate between the employer and the employment seekers and promote close association between them to achieve common goal to Collaborate, Transform & Prosper. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="templateux-section pt-1 pb-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">

                    <div class="row">
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                            <div class="media block-icon-1 d-block text-left">
                                <div class="icon mb-3">
                                    
                                </div>
                                <div class="media-body">
                                    <h3 class="h9 mb-6">Specialization</h3>
                                    <p>The success of any organization is closely tied to the quality of its employees, which, in turn, is closely tied to its talent acquisition process. Prosperspective HR Solutions plays a key role in such segment. Acquiring the right talent can be a challenging task but the rewards of a well-constructed strategy can be enormous, because effective recruiting is the foundation on any organization. We believe in Strategy of combining our passion for people with technology driven process to help organization convert a best suited candidate to employee.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                            <div >
                                <div class="icon mb-3">
                                    
                                </div>
                                <div class="media-body">
                                    <h3 class="h9 mb-6"></h3>
                                     <img src="~/images/special.webp" class="imgPreview"  alt="backimage">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="templateux-section pt-1 pb-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ">

                    <div class="row">

                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                            <div >
                                <div class="icon mb-3">
                                    
                                </div>
                                <div class="media-body">
                                    <h3 class="h9 mb-6"></h3>
                                     <img src="~/images/expert.webp" class="imgPreview"  alt="backimage">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="400">
                            <div class="media block-icon-1 d-block text-left">
                                <div class="icon mb-3">
                                    
                                </div>
                                <div class="media-body">
                                    <h3 class="h9 mb-6">Domain Expertise</h3>
                                    <p>Prosperspective HR Solution is suitably qualified to assist you in your important assignments. Our professional staffs have been extensively engaged in acquiring talent for various industries. Here is a snapshot of the industries we specialize in!! 



Building Manpower with different Perspective. </p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="templateux-section bg-light py-5" id="templateux-counter-section">
        <hr style="border-style: none; border-top-style: dotted; border-color: skyblue; border-width: 4px; width: 100%;">
        <div class="container">
            <div class="row">

                <div class="col-md">
                    <div class="templateux-counter text-center">
                        <span class="templateux-number" data-number="42">0</span>
                        <span class="templateux-label"><b> Consolidated Years Of Experience</b></span>
                    </div>
                </div>

                <div class="col-md">
                    <div class="templateux-counter text-center">
                        <span class="templateux-number" data-number="199">0</span>
                        <span class="templateux-label"><b>Percentage Of Joiners</b></span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="templateux-counter text-center slider-testimonial">
                        <span class="templateux-number" data-number="5000">0</span>
                        <span class="templateux-label"><b>Number of Skills</b></span>
                    </div>
                </div>

            </div>
        </div>
        <hr style="border-style: none; border-top-style: dotted; border-color: skyblue; border-width: 4px; width: 100%;">
    </div>

    <div class="templateux-section">
        <div class="container">
            <div class="row text-center mb-5">
                <div class="col-12">
                    <h2>OUR CLIENTILE</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 testimonial-wrap">
                    @* <div class="quote">&ldquo;</div>*@
                    <div class="owl-carousel wide-slider-testimonial">

                        <div>
                            <img src="~/images/emb.png"  class="block-testomonial clintilelogo imgPreview">
                        </div>
                        <div class="item">
                            <img src="~/images/sela.jpg"  class="block-testomonial clintilelogo imgPreview">
                        </div>
                        <div class="item">
                            <img src="~/images/arya.png"  class="block-testomonial clintilelogo imgPreview">
                        </div>
                        <div class="item">
                            <img src="~/images/ncs.png" class="block-testomonial clintilelogo imgPreview">
                        </div>
                        <div class="item">
                            <img src="~/images/buck.png" class="block-testomonial clintilelogo imgPreview">
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
