@model PHR.ViewModels.Login.SetNewPassword
@{
    ViewData["Title"] = "Forgot Password";    
}

<section class="h-100 gradient-form" style="background-color: #fff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/lotus.webp" style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">We are The <b>PHRS</b> Team</h4>
                                </div>
                                @if (ViewBag.Success == "Success")
                                {
                                    <label id="errorMsg" style="color:green;">@ViewBag.Message</label>
                                }
                                else
                                {
                                    <label id="errorMsg" style="color:red;">@ViewBag.Message</label>
                                }

                            <form asp-action="UpdateNewPassowrd" asp-controller="Login" method="post">
                                @Html.AntiForgeryToken()
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="userEmail">New Password</label>
                                    <input type="password" id="newPassword" asp-for="NewPasswod" class="form-control" placeholder="New Password" autocomplete="off" />
                                    <span id="newPasswordErr" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="userEmail">Confirm Password</label>
                                    <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" autocomplete="off"
                                           onkeyup="validateConfirmPassword()"/>
                                    <span id="confirmPasswordErr" class="text-danger"></span>
                                </div>
                                <input type="hidden" id="emailId" asp-for="EmailId" />
                                <input type="hidden" id="requestId" asp-for="RequestId" />

                                <div class="text-center pt-1 mb-5 pb-1">
                                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Submit</button>
                                </div>
                            </form>
                            </div>
                        </div>
                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                <h4 class="mb-4" style="color:white;">We are more than just a company</h4>
                                <p class="small mb-0">Not able to Recall?</p>
                                <p class="small mb-0">Forgot Password?</p>
                                <p class="small mb-0">Don't worry, we are here to help you out! </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

